<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <emailSettings>
        <fromEmail>your_email@example.com</fromEmail>
        <smtpServer>smtp.example.com</smtpServer>
        <smtpPort>587</smtpPort>
        <smtpUser>your_email@example.com</smtpUser>
        <smtpPassword>your_password</smtpPassword>
        <toEmail>logistics@warehouse.com</toEmail>
    </emailSettings>
</configuration>