<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <emailSettings>
        <fromEmail>f.cano701b.p@gmail.com</fromEmail>
        <smtpServer>smtp.gmail.com</smtpServer>
        <smtpPort>587</smtpPort>
        <smtpUser>f.cano701b.p@gmail.com</smtpUser>
        <smtpPassword>ijzr iqcp xyhn gnuy</smtpPassword>
        <toEmail>felipec90b@gmail.com</toEmail>
    </emailSettings>
</configuration>